* {
    margin: 0%;
    padding: 0%;
}

#Header {
    width: 100%;
    box-sizing: border-box;
    height: 70px;
    position: fixed;
    background: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.logo {
    margin-left: 8%;

}

.logo h1 {
    color: rgb(239, 189, 7);
}

.nav {

    width: 30%;
    margin-right: 8%;
}

.nav ul {

    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

.nav ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {

    color: greenyellow;
}

/* below section login part  */

section {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    width: 60%;
    height: fit-content;
    box-sizing: border-box;
    padding: 50px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

#image a {
    width: 100%;
    color: rgb(75, 73, 73);
    display: block;
    margin-top: 30px;
    text-decoration: underline;
    text-align: center;
}

input{
    outline: none;
    font-size: 16px;
    width: 50vh;
    height: 40px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
}
.email_input,.pass_input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}
hr{
    margin-top: -0px;
    font-weight: 900;
}
section>div>h1{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
}
#login{
    box-sizing: border-box;
    width: 100px;
    height: 40px;
   font-size: 16px;
   font-weight: 600;
   margin-top: 30px;
   cursor: pointer;
   background-color: rgb(247, 207, 50);
   border: none;
   border-radius: 5px;
}